body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

#graph-area {
  display: block;
  background: rgb(237, 241, 249);
  cursor: pointer;
}

text {
  z-index: 1;
}

@-webkit-keyframes pulse
    {
      0% {-webkit-transform: scale(1.0); opacity: 1;}
      100% {-webkit-transform: scale(2); opacity: 0;}
    }

    .pulse
    {
      /* Giving Animation Function */
      -webkit-animation: pulse 2s linear infinite;
    }

    .shadow {
    -webkit-filter: drop-shadow( 0px 0px 5px white );
            filter: drop-shadow( 0px 0px 5px #000 ); /* Same syntax as box-shadow */
}
