body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
}

#graph {
  width: 100vw;
  height: 100vh;
  display: block;
  background: rgb(237, 241, 249);
  cursor: pointer;
}

text {
  z-index: 1;
}
